.list:hover{
    color: black;
    display: block;
    background-color: hotpink;

}
.herolist{
   
    list-style: none;
    text-decoration: none;
}
.list{
    align-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: block;
    color: black;
    background-color: gray;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    margin:5px;
}