.container {
    margin: auto;
    width: 40%;
}

.contain {
    width: 65%;
    height: 525px;
    margin: auto;
    padding: 5%;
    background-color: Gainsboro;
}

.contain:hover {
    box-shadow: 1px 1px 35px grey inset, -1px -1px 5px inset;
    transition: .8s;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.height {
    height: 25px;
}

.dropdown {
    background-color: whitesmoke;
    border: 1px;
}

input {
    width: auto;
    border-style: none;
}

input:hover {
    border-style: inset;
}

::-webkit-input-placeholder {
    color: #808080;
    text-align: right;
    padding: 5%;
}

.row {
    margin-bottom: 10px;
}

.date {
    width: 90px;
}

#gender {
    width: 175px;
}

.location {
    width: 175px;
}

.label {
    font-weight: bold;
    font-family: serif;
}

.prefer {
    color: #1155cc;
}

.mobwidth {
    width: 273px;
}

.prefer:hover {
    text-decoration: underline;
}

.width {
    width: 340px;
}

.dropwidth {
    width: 150px;
}

button {
    background-color: #498af3;
    border-radius: 5px;
    border-style: none;
    height: 30px;
    float: right;
    color: white;
    margin-right: 8px;
    text-decoration:
}