<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="lib/angular.min.js"></script>
    <scrip src="js/config.js"></scrip>
    <script src="js/app.js"></script>
    <script src="js/model.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-app="myapp" ng-controller="myctrl">
    <input type="text" ng-model="search">
    <button ng-click="getImage()">Search Image</button>
    <ul>
        <li ng-repeat="{{r in result}}" style="list-style: none"> <img src="{{r.images.fixed_height.url}}" height="100px" width="100px"> </li>
    </ul>
</body>

</html>